@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,300&family=Righteous&display=swap');

/* -----General----- */
body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

h2 {
  font-weight: 600;
}

h1, .navbar-brand {
  font-family: "Righteous", cursive;
}

header, footer {
  background-color: #fdf1e3c0;
}

/* Carousel */
.carousel-item {
  max-height: 30vh;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .carousel-item {
    max-height: 50vh;
  }
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

.carousel-caption > * {
  backdrop-filter: blur(10px);
  color: black;
}

/* -----end General----- */

/* -----index.html----- */

.circle {

  width: auto;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  background-color: #9cc5e4;
}

.circle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -----end index.html----- */

/* -----loutres.html----- */

@media screen and (min-width: 1200px) {
  .otters-cards > article > div > p {
    margin-top: 1rem;
    font-size: calc(1rem + 0.2vw); 
  }

  .otters-cards > article > div > img {
    max-height: 40vh;
  }

}

/* -----end loutre.html----- */

/* -----event.html----- */

/* jumbotron*/

.jumbotron {
  background-image: url("images/L-festival-nuageux.jpg");
  background-size: cover;
  min-height: 30vh;
}

.lead {
  font-weight: 400;
  backdrop-filter: blur(4px);
}

/* "Venir au festival" section */

pre {
  font-family: "Libre-Fraklin", sans-serif;
}

.directions {
  line-height: 2;
  font-weight: 500;
}

#address-block {
  background-color: #fdf1e3c0;
}

#address-block > address {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5;
}

.google-maps {
  min-height: 30%;
}

@media screen and (max-width: 768px) {
  .google-maps {
    padding-left: 0;
    padding-right: 0;
  }

}





/* -----end event.html----- */

